<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
    
    <script>
      $(document).ready(function() {
          // var tmp_ubersuggest = $('#result').html();
          // $('#result').html(tmp_ubersuggest.replace(/,/g, '<br>').replace(/,,/g, '<br>'));

          // canvas.js
          if($('#trends_data').text() != '') {

            var dataPoints = [];
            var tmp_googletrends = $.parseJSON($('#trends_data').text());
            $.urlParam = function(name){
              var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
              return results[1] || 0;
            }
            var tmp_googletrends_keywords = $.urlParam('keywords');
            
            var chart = new CanvasJS.Chart("trends", {
              animationEnabled: true,
              theme: "light2",
              title: {
                text: "Search Trends"
              },
              axisY: {
                title: "Search Times",
                titleFontSize: 24
              },
              data: [{
                type: "spline",
                yValueFormatString: "#,### Times",
                dataPoints: dataPoints
              }]
            });

            function addData(data) {
              for (var i = 0; i < tmp_googletrends.length; i++) {
                dataPoints.push({
                  x: new Date(tmp_googletrends[i].date),
                  y: tmp_googletrends[i][tmp_googletrends_keywords]
                });
              }
              chart.render();
            }
            addData();
          }
      });
    </script>
  <body>
    <% include template/header.ejs %>
    
    <h1>Form</h1>
    <form id="search" method="GET" action="/">
        <label>Keywords: </label><input id="keywords" name="keywords" type="text" /><br>
        <button id="generate" type="submit" value="Generate">Generate</button><br>
    </form>
    <br><br>
    <div id="trends_data" style="font-size: 0px;"><%= trends_data %></div>
    <div id="trends" style="font-size: 16px;"><%= trends %></div>
    
  </body>
</html>
